@import url(http://fonts.googleapis.com/css?family=Satisfy);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
  margin: auto;
}

.list__container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  width: 900px;
  border-radius: 4px;
  font-size: 16.8px;
  margin-top: 70px;
  padding-left: 50px;
}

.list__container-cards{
    background-color: rgb(237, 243, 236);
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    column-gap: 50px;
    margin-top: 50px;
    max-width: 400px;
    min-height: 110px;
}

.list__container-title{
  margin-left: 30px;
  margin-top: -25px;
}
.list__input{
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer{
  max-width: 1200px;
  padding: 0 24px;
  margin: auto;
  margin-bottom: 80px;
  margin-left: 445px;
}

.plants__image{
  height: 200px;
  width: 400px;
  margin-left: 450px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  margin-top: -130px;
}

 .workplace__image{
  width: 250px;
  height: 312px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
 }

 .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  padding: 0 24px;
  margin: auto;
 }

 .header__icon{
  height: 78px;
  width: 78px;
  position: absolute;
  top: 300px;
  left: 170px;
 }

 .header__image{
  height: 350px;
  width: 100%;
 }

 .header__title{
  margin-top: 50px;
 }

 .other__items{
  padding-left: 0px;
 }

.list__tasks button:hover {
  color: red; 
}

.list__tasks p {
  display: flex; 
  align-items: center; 
}

.list__tasks button {
  margin-left: auto;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

.list__button{
  color: rgb(137, 169, 131);
  border-color:  rgb(137, 169, 131);
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 2px;
}

.list__input{
  border-radius: 3px;
  border-color:  rgb(137, 169, 131);
  padding-left: 10px;
  padding-right: 10px;
  padding: 3px;
}

.quote-container {
  margin-top: 70px;
  position: relative;
  margin-left: 1100px;
  margin-top: -100px;
  height: 100px;
}
.note {
  color: #333;
  position: relative;
  width: 200px; /* Зменшено розмір листка */
  margin: 0 auto;
  padding: 10px; /* Зменшено відступи у тексті */
  font-family: Satisfy;
  font-size: 20px; /* Зменшено розмір тексту */
  box-shadow: 0 5px 5px 1px rgba(0,0,0,0.3); /* Зменшено тінь */
}

.note .author {
  display: block;
  margin: 20px 0 0 0;
  text-align: right;
  height: 50px; /* Зменшено розмір контейнера автора */
}

.yellow {
  background: rgba(158, 180, 153, 0.93);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}


.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}
